<RadSideDrawer drawerLocation="Right" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Important" class="sideLabel"></Label>
            <Label text="Starred" class="sideLabel"></Label>
            <Label text="Sent Mail" class="sideLabel"></Label>
            <Label text="Logout" class="sideLabel" (tap)="logout()"></Label>
        </StackLayout>
        <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
    </StackLayout>
    <StackLayout tkMainContent>  
        <GridLayout columns="*,*,*,*" rows="auto, *, *, *, *">
            <GridLayout class="header-container" colSpan="5" columns="*,*,*,*,*">
                <Label text="TLC Grönt Kort" colSpan="5" horizontalAlignment="left" verticalAlignment="center" class="actionbartext"></Label>
                <Label text="&#xe55a;" class="mdi actionbartext" col="4" horizontalAlignment="right" verticalAlignment="center" (tap)="openDrawer()"></Label>
            </GridLayout>
            <StackLayout colSpan="4" row="1">
                <Label text="Inställningar" row="2" colSpan="2" horizontalAlignment="center" verticalAlignment="center" class="tab-header"></Label>
            </StackLayout>
            <Image stretch="aspectFit" row="2" colSpan="4" src="res://ic_menu" verticalAlignment="bottom"></Image>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>