// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fa {
    font-family: "FontAwesome";
}

.mdi {
    font-family: "Material Icons", "MaterialIcons-Regular";
}

.CarroisGothicSC-Regular {
    font-family: "CarroisGothicSC-Regular"
}

// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

//Action bar
ActionBar .action-bar-title {
    //horizontal-align: center;
}

Page {
    /*background-color: rgb(20, 20, 20);*/
    
    font-size: 17;
    /*background-image: url("res://sanlorenzo2");*/
    background-repeat: no-repeat;
}

TextField {
    margin: 10;
    padding: 10;
}

Image {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

Button {
}

ActionBar {
    color: rgb(128, 39, 39);
    background-color: #2E6DAD;
}

#pagewrapper {
    color:black;
}

.btn {
    font-size: 18;
}

.actionbartext {
    font-size: 28px;
}

.action-bar {
    background-color: #1954a6;
    color: #7e2f2f;
    padding: 5;
    visibility: hidden;
    height: 0;
}

.listlabel {
    padding: 2 5;
}

.header-container {
    padding: 10;
    color: rgb(221, 221, 221);
    background-color: rgb(0, 0, 0);
    font-family: "Copperplate";
}

.tab-header {
    font-size: 20px;
    padding-top: 10px;
    font-family: "Copperplate";
    color: rgb(221, 221, 221);
}

.page-header {
    padding-top: 10px;
    font-size: 20px;
    /*background-color: rgba(255, 255, 255, 0.116);*/
}

.app-background-image {
    background-image: url("res://ic_more_vert");
    background-repeat: no-repeat;
    
}