<GridLayout rows="75 * 50" sdkExampleTitle sdkToggleNavButton visibility="{{ loggedin ? 'visible' : 'collapsed' }}">
    <WebView row="1" #myWebView [src]="webViewSrc"></WebView>
    <Label row="2" #labelResult></Label>
</GridLayout>
<StackLayout rows="75 * 50" sdkExampleTitle sdkToggleNavButton visibility="{{ loggedin ? 'collapsed' : 'visible' }}">
    <Button class="btn btn-primary w-full" text="Login with Twitter" (tap)="logintwitter()"></Button>
    <Button class="btn btn-primary w-full" text="Login with Facebook" (tap)="loginfacebook()"></Button>
    <Button class="btn btn-primary w-full" text="Login with Instagram" (tap)="logininstagram()"></Button>
</StackLayout>