<RadSideDrawer drawerLocation="Bottom" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Important" class="sideLabel"></Label>
            <Label text="Starred" class="sideLabel"></Label>
            <Label text="Sent Mail" class="sideLabel"></Label>
            <Label text="Logout" class="sideLabel" (tap)="logout()"></Label>
        </StackLayout>
        <Label text="Close Drawer" color="lightgray" padding="10" horizontalAlignment="center" (tap)="onCloseDrawerTap()"></Label>
    </StackLayout>
    <Gradient direction="to right" colors="#FF0077, red, #FF00FF" tkMainContent>
        <GridLayout columns="*,*,*,*" rows="auto, *, *, *, *">
            <GridLayout style="background-color:rgb(255, 127, 227)" class="header-container" colSpan="4" columns="auto,auto,*">
                <Image width="80" row="0" col="0" src="~/images//TLCGolf_logo.png" horizontalAlignment="left" verticalAlignment="center"></Image>
                <Label style="padding-left:10;" text="Grönt Kort" col="1" horizontalAlignment="left" verticalAlignment="center" class="actionbartext"></Label>
                <Label text="&#xe55a;" class="mdi actionbartext" col="2" horizontalAlignment="right" verticalAlignment="center" (tap)="openDrawer()"></Label>
            </GridLayout>
            <StackLayout colSpan="4" row="1">
                <Label [text]="username" horizontalAlignment="center" verticalAlignment="center" class="tab-header"></Label>
            </StackLayout>
            <GridLayout rows="*,*,*" style="color:#ffffff;width:100;height:100;border-radius:100; margin:0; background-color:rgba(0, 0, 0, 0.400);" colSpan="2" row="2">
                <Label text="Now" row="0" colSpan="2" horizontalAlignment="center" verticalAlignment="center" class="large-text top"></Label>
                <Label row="1" horizontalAlignment="center" colSpan="2" text="&#xe627;" class="mdi"></Label>
                <Label text="77°" row="2" colSpan="2" horizontalAlignment="center" class="large-text"></Label>
            </GridLayout>
            <GridLayout rows="*,*,*" style="color:#ffffff;width:100;height:100;border-radius:100; margin:0; background-color:rgba(0, 0, 0, 0.400);" class="blue3-container" colSpan="2" row="2" col="2">
                <Image stretch="none" row="0" col="2" colSpan="2" src="res://ic_menu" horizontalAlignment="center" class="top" verticalAlignment="center"></Image>
                <Label row="1" horizontalAlignment="center" colSpan="2" text="&#xe625;" class="mdi"></Label>
                <Label text="77°" row="2" col="2" colSpan="2" horizontalAlignment="center" class="large-text"></Label>
            </GridLayout>
            <GridLayout rows="*,*,*" style="color:#ffffff;width:100;height:100;border-radius:100; margin:0; background-color:rgba(0, 0, 0, 0.400);" colSpan="2" row="3">
                <Label text="Now" row="0" colSpan="2" horizontalAlignment="center" verticalAlignment="center" class="large-text top"></Label>
                <Label row="1" horizontalAlignment="center" colSpan="2" text="&#xe627;" class="mdi"></Label>
                <Label text="77°" row="2" colSpan="2" horizontalAlignment="center" class="large-text"></Label>
            </GridLayout>
            <GridLayout rows="*,*,*" style="color:#ffffff;width:100;height:100;border-radius:100; margin:0; background-color:rgba(0, 0, 0, 0.400);" class="blue3-container" colSpan="2" row="3" col="2">
                <Image stretch="none" row="0" col="2" colSpan="2" src="res://ic_menu" horizontalAlignment="center" class="top" verticalAlignment="center"></Image>
                <Label row="1" horizontalAlignment="center" colSpan="2" text="&#xe625;" class="mdi"></Label>
                <Label text="77°" row="2" col="2" colSpan="2" horizontalAlignment="center" class="large-text"></Label>
            </GridLayout>
            <GridLayout rows="*" columns="*,*,*,*,*" style="height:50;color:#ffffff; margin:0; background-color:rgb(255, 255, 255);" class="blue3-container" colSpan="4" row="4" verticalAlignment="bottom">
                <Image style="background-color:rgb(255, 127, 227)" (tap)="gotopage('home')" stretch="none" col="0"  src="res://ic_menu_black_24dp" horizontalAlignment="center" class="top" verticalAlignment="center"></Image>
                <Image (tap)="gotopage('ethics')" stretch="none" col="1" src="res://ic_menu_black_24dp" horizontalAlignment="center" class="top" verticalAlignment="center"></Image>
                <Image (tap)="gotopage('rules')" stretch="none" col="2" src="res://ic_menu_black_24dp" horizontalAlignment="center" class="top" verticalAlignment="center"></Image>
                <Image (tap)="gotopage('game')" stretch="none" col="3"  src="res://ic_menu_black_24dp" horizontalAlignment="center" class="top" verticalAlignment="center"></Image>
                <Image (tap)="gotopage('settings')" stretch="none" col="4"  src="res://ic_menu_black_24dp" horizontalAlignment="center" class="top" verticalAlignment="center"></Image>
            </GridLayout>
        </GridLayout>
    </Gradient>
</RadSideDrawer>
    