<StackLayout tkMainContent>
    <GridLayout columns="*,*,*,*" rows="auto, auto, *">
        <GridLayout class="header-container" colSpan="5" columns="*,*,*,*,*">
            <Label text="TLC Grönt Kort" colSpan="5" horizontalAlignment="left" verticalAlignment="center" class="actionbartext"></Label>
            <Label text="&#xe55a;" class="mdi actionbartext" col="4" horizontalAlignment="right" verticalAlignment="center" (tap)="openDrawer()"></Label>
        </GridLayout>
        <GridLayout style="height: 100;color:#ffffff; margin:0; background-color:rgba(0, 0, 0, 0.400);" colSpan="4" row="1">
            <Label [text]="username" horizontalAlignment="center" verticalAlignment="center" class="tab-header"></Label>
        </GridLayout>
        <GridLayout style="color:#ffffff; margin:0; background-color:rgba(0, 0, 0, 0.4);" colSpan="4" row="2">
            <ListView [items]="videoList" (itemTap)="onItemTap($event)" class="small-spacing">
                <ng-template let-item="item">
                    <StackLayout>
                        <Label height="50" [text]="item.name" class="medium-spacing" ></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </GridLayout>
    </GridLayout>
</StackLayout>
